name: Release
on:
  push:
    tags:
      - "v*" # This will trigger the workflow on any tag that starts with 'v'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Get versions
        id: get_version
        run: |
          echo "TAG_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          MC_VERSION=$(grep "minecraft_version" gradle.properties | cut -d'=' -f2)
          echo "MC_VERSION=$MC_VERSION" >> $GITHUB_OUTPUT

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          name: Press2Hold ${{ steps.get_version.outputs.MC_VERSION }}-${{ steps.get_version.outputs.TAG_VERSION }}
          files: |
            build/libs/press2hold-${{ steps.get_version.outputs.TAG_VERSION }}.jar
            build/libs/press2hold-${{ steps.get_version.outputs.TAG_VERSION }}-sources.jar
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
